<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/about.jpg" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-2">
                            <span class="section-heading-upper">HOW IT ALL STARTED</span>
                            <span class="section-heading-lower">About Our Store</span>
                        </h2>
                        <p>
                            COMMING SOON
                        </p>
                        <h2 class="section-heading mb-1">
                            <span class="section-heading-upper">About Me</span>
                        </h2>
                        <p class="mb-0">
                           hi! welcome to my channel! i’m Jocelyn aka joe!
                           I finally got a webpage and im so excited to see you on here! 
                           i am 19 years old! i love music, i also own this small business and also serve at my church!
                        <br>
                        <div id="social-platforms">
                            <h1>Follow me on Social Media</h1>
                            <a class="btn btn-icon btn-secondary  btn-instagram" href="https://www.instagram.com/jocelynsanchezzz/"><i class="fab fa-instagram"></i><span> Facebook</span></a>
                            <a class="btn btn-icon btn-secondary  btn-tiktok" href="https://www.tiktok.com/@jocelynsanchez_"><i class="fab fa-tiktok"></i><span> Tiktok</span></a>
                            <a class="btn btn-icon btn-secondary  btn-youtube" href="https://www.youtube.com/channel/UCSpzpHH3RNOKvyzC6yBwhPA"><i class="fab fa-youtube"></i><span> Youtube</span></a>
                            <a class="btn btn-icon btn-secondary  btn-linktr" href="https://linktr.ee/jocelynsanchezz"><span class="iconify" data-icon="simple-icons:linktree"></span><span> linktr.ee</span></a>                                    
                            <a class="btn btn-icon btn-secondary btn-facebook" href="https://www.facebook.com/jocelyn.sanchez.142687"><i class="fab fa-facebook"></i><span> Facebook</span></a>                                          
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div>

        </div>
</section>

<script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>
<script src="/css/about.css"></script>

<!-- Render script for logged in users only -->
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}