<div class="row">
  <div class="col-auto">
    <h2>Welcome, Admin!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Product:</h3>

    <form class="form new-product-form">
      <div class="form-group">
        <label for="product-name">Product name:</label>
        <input class="form-input" type="text" id="product-name" name="product-name" />
      </div>
      <div class="form-group">
        <label for="product-price">Price ($):</label>
        <input class="form-input" type="number" id="product-price" name="product-price" />
      </div>
      <div class="form-group">
        <label for="product-desc">Description:</label>
        <textarea class="form-input" id="product-desc" name="product-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="product-img">Image Url:</label>
        <input class="form-input" id="product-img" name="product-img" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if products.length}}
  <div class="col-md-6 product-list border-dark">
    <h3>Current Products:</h3>

    {{#each products as |product|}}
    <div class="row mb-2">
      <div class="col-md-8 card-header">
        <h4><a href="/product/{{product.id}}">{{product.name}}</a></h4>
        {{!-- <button class="btn btn-sm btn-secondary" data-id="{{product.id}}">EDIT</button> --}}

      </div>
      <div class="col-md-3 card-header">
      <button class="btn btn-sm btn-danger" data-id="{{product.id}}">DELETE</button>
      
      </div>
    </div>

    {{/each}}
  </div>

    {{/if}}
</div>

<script src="./js/admin.js"></script>
