<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>
    <span for="img" aria-label="money">Price: 💲</span>
    <span class="dollar-amount">{{format_amount price}}</span>
  </p>
  <p>
    <button class="btn btn-primary">Save to favorites</button>
  </p>
</div>
