<!DOCTYPE html>
<html lang="en">

<form class="row justify-content-center ">
  <div class="col-md-6">
    <h2>Login</h2>
  <div class="form-outline mb-4">
    <input type="email" id="email-login" class="form-control" />
    <label class="form-label" for="email-login">Email address</label>
  </div>
  <div class="form-outline mb-4">
    <input type="password" id="password-login" class="form-control" />
    <label class="form-label" for="password-login">Password</label>
  </div>


<div class="container">
  <div class="row">
    <div class="col text-center">
<button type="button" class="btn btn-primary btn-block mb-4" >Sign in</button>
    </div>
  </div>
</div>


</form>


<script src="./js/login.js"></script>
