    <section class="page-section about-heading">

        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/about.jpg" alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">WELCOME,</span>
                                <span class="section-heading-lower">{{name}}!</span>
                            </h2>
                            <img height="100" width="100" src={{qrcodeURL}}>
                            <br>
                            <br>
                            <p>As a new customer we want to offer you a first time user coupon. Just scan the QR above!</p>
                            <p>Thanks for signing up! We'll give you a coupon as a thank you. Just scan the QR code above to get your deal.</p>
                            <p class="mb-0">
                                Look through our menu and see what we have to offer. Alot of goodies that will make you feel and look like a baddie.
                            </p>
                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col text-center">
                                        <a href="/product" class="btn btn-secondary btn-lg">Check Out Our Products!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</html>

<!-- Render script for logged in users only -->
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
  