    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/about.jpg" alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">WELCOME,</span>
                                <span class="section-heading-lower">{{name}}!</span>
                            </h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat nemo laudantium explicabo recusandae voluptate voluptates voluptatum odio, cumque eius dolor praesentium aperiam illo repellendus neque delectus dignissimos
                                hic similique iste.</p>
                            <p class="mb-0">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores voluptates at eos odit dolorum iusto ipsum commodi pariatur mollitia! Consequatur voluptatibus recusandae quae quibusdam magnam in minima nesciunt praesentium debitis!
                            </p>



                            <div class="container">
                                <div class="row">
                                    <div class="col text-center">
                                        <a href="/product" class="btn btn-secondary btn-lg">Checkout Our Products!</a>
                                    </div>
                                </div>
                            </div>
                            <!-- <button type="button" class="btn btn-secondary btn-lg">Checkout Our Products!</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</html>

<!-- Render script for logged in users only -->
{{#if logged_in}}
<script src="/js/logout.js"></script>
<script src="../qrcode.js" type="text/javascript"></script>
<script src="../qrcode_SJIS.js" type="text/javascript"></script>
<script src="assets/sample.js" type="text/javascript"></script>
{{/if}}
  